@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

.cardsContainer
{
  background-color: #F0F0F0;
  height: 100%;
  padding: 18px 0 24px 0;
}

.titleCardsSection {
  font-size: 28px;
  margin-left: calc(100vw - 1740px);
  /* padding-top: 12px; */
  font-weight: 700;
}

.results-header {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  box-shadow: 0 0 10px #ddd;
  font-size: 16px;
  padding: 10px 25px;
  font-weight: 500;
}

.category {
  color: #FF9900;
  font-weight: bold;
}