@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

.link {
  font-size: 18px;
  margin:5%;
}

.link:hover {
  color: #FF9900;
  text-decoration: underline;
}

.card {
  width: 300px;
  height: 420px;
  border-radius: 6px;
  cursor: pointer;
  margin-right: 20px;
}

/* .card-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.card-category {
  width: 50%;
} */

.cardsContainer
{
  background-color: #F0F0F0;
  height: 100vh;
}

.titleCardsSection
{
  font-size: 28px;
  margin-left: calc(100vw - 1740px);
  padding-top: 12px;
}

.cards 
{
  display: flex;
  max-width: 80vw;
  margin: 0 auto;
}

.cardTitle
{
  font-family: "Montserrat";
  font-weight: 500;
}

.cardImg
{
  width: 160px;
  margin-left: 20%;
}

.dateAnnounce
{
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 12px;
  color: #000000;
  opacity: 0.3;
}

.descProduct
{
  font-size: 14px;
}

.priceProduct
{
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 20px;
  color: #000000;

  display: block;
  text-align: center;
  margin-top: 8px;
}

.results-header {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  box-shadow: 0 0 10px #ddd;
  font-size: 16px;
  padding: 10px 25px;
  font-weight: 500;
}

.category {
  color: #FF9900;
  font-weight: bold;
}