@import '~antd/dist/antd.css';

.ant-page-header {
  background-color: #FFF159;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ant-page-header-heading-extra
{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo{
  height: 90px;
  margin-right: 10px;
}

.categories{
  color: black;
  font-size: 18px;
}

.categories:hover{
  cursor:pointer;
  color:#adadad;
}

.searchBar {
  margin-top: 4px;
  width: calc(100vw - 750px);
  margin-right: 12px;
}

.header-buttons{
  font-size: 32px;
}

.ant-input-search-button{
  background-color: #fdb13f;
  border-color: #fdb13f;
}

.ant-input-search-button:hover{
  background-color: #FF9900;
  border-color: #FF9900;
  cursor: pointer;
}

/* Categories part */

.site-page-subheader-ghost-wrapper {
  background-color: white;
  font-weight: 600;
  padding: 10px;
  text-align: center;
}
